
.louderStyles { 
    height: 100vh;
}
.background-opacity{ 
    background-color: rgba(0, 0, 0, 0.5);
}

.backgroundWeatherInfo{ 
    background-color: #2c3e50;
}

.animationLouder{ 
    animation: Loading 1.3s normal infinite ease-in-out;
}

@keyframes Loading {
     0% { 
        transform: rotateZ(0deg);
   }

   100%{ 
    transform: rotateZ(360deg);
   }
}

.containerImageTemp{ 
    width: 60px; 
    height: 60px;
} 
.height{ 
    height: 400px;
}
.bg-cards{ 
    /* background-color: rgb(39, 60, 117, 0.5); */ 
    background-color: rgb(0, 0, 0, 0.3) !important;
}

/* estilos slider */
.height-slider{ 
    height: 200px;
}
.z-index{ 
    z-index: 100;
}
.myleft{ 
    margin-left: 2.1rem;
} 
.myrigth{ 
    margin-right: 0.5rem;
} 

.rigth0{  
    right: 0;
} 

/* funcionamiento slider */ 